config 64BIT
	bool "64-bit kernel" if ARCH = "x86"
	default ARCH = "x86_64"
config X86_32
	def_bool !64BIT
source "init/Kconfig"
config ARCH_CPU_PROBE_RELEASE
	def_bool y
	depends on HOTPLUG_CPU
endsource
source "kernel/Kconfig.freezer"
config KTIME_SCALAR
	def_bool X86_32
endsource
menu "Processor type and features"
source "kernel/time/Kconfig"
config SMP
	bool "Symmetric multi-processing support"	
config X86_X2APIC
	bool "Support x2apic"
	depends on X86_LOCAL_APIC && X86_64 && INTR_REMAP
endsource	
config X86_MPPARSE
	bool "Enable MPS table" if ACPI
	default y
	depends on X86_LOCAL_APIC
config X86_BIGSMP
	bool "Support for big SMP systems with more than 8 CPUs"
	depends on X86_32 && SMP
endmenu
config HAVE_ATOMIC_IOMAP
	def_bool y
	depends on X86_32
config HAVE_TEXT_POKE_SMP
	bool
	select STOP_MACHINE if SMP
source "net/Kconfig"
config SARAH
	bool
config KARIM 
	bool
endsource
source "drivers/Kconfig"
config AMR
	bool
endsource